@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,700&family=Nunito:wght@700&family=Roboto:wght@100&display=swap");

:root {
  --pink: #d70f64;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2em 9%;
}

section:nth-child(even) {
  background: #eee;
}

.hero-btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  text-decoration: none;
}
.hero-btn a {
  text-decoration: none;
  color: #fff;
}

.hero-btn:hover {
  color: #fff;
  background: var(--pink);
  letter-spacing: 0.1rem;
}

header {
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: none;
}

header .logo i {
  color: var(--pink);
}
header .logo-img {
  width: 15%;
  height: 15%;
}
header .navbar a {
  font-size: 1.7rem;
  border-radius: 1.5rem;
  margin-left: 20px;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--pink);
  text-decoration: none;
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--pink);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

/* cart */
.checkout a{
  color: #fff;
}
.checkout {
  background: var(--black);
  font-size: 1.7rem;
  border-radius: 1.5rem;
  margin-left: 20px;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.checkout:hover{
  background: var(--pink);
  color: #fff;
}
/* end cart */

/* end nav */

/* media */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }
}
/* end media */

/* hero */
.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
  width: 83.9%;
}

.home .home-slider .slide .content span {
  color: var(--pink);
  font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
  color: var(--black);
  font-size: 7rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2rem;
  padding: 0.5rem 0%;
}

.swiper-pagination-bullet-active {
  background: var(--pink);
}

.home .home-slider .slide .content h3 {
  font-size: 5rem;
}
/* swiper */
.swiper-pagination-bullet-active {
  background: var(--pink);
}

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
  padding-top: 3rem;
}

.dishes .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.home .home-slider .slide .content h3 {
  font-size: 5rem;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--pink);
  color: #fff;
}

.dishes .box-container .box .fa-heart {
  left: -15rem;
}

.dishes .box-container .box .fa-eye {
  right: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
  left: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye {
  right: 1.5rem;
}

.dishes .box-container .box img {
  height: 20rem;
  margin: 1rem 0;
}

.dishes .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.dishes .box-container .box .star {
  padding: 1rem 0;
}

.dishes .box-container .box i {
  font-size: 1.7rem;
  color: var(--pink);
}

.dishes .box-container .box span {
  color: var(--pink);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}
/* step */
.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}

.steps .box {
  flex: 1 1 25rem;
  padding: 1rem;
  text-align: center;
}

.steps .box img {
  border-radius: 30%;
  border: 0.5rem solid var(--pink);
  width: auto;
  height: auto;
  max-width: 50%;
  min-height: 50%;
  object-fit: contain;
}

.steps .box h3 {
  font-size: 3rem;
  color: var(--black);
  padding: 1rem;
}
/* end step */

/* end hero */
/* Start order */
.order form {
  width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}
.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order form .inputBox .input {
  width: 49%;
}
.order form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}
.order form .btn {
  margin-top: 0;
}
.sub-heading {
  color: #d70f64;
  text-align: center;
  font-size: 2rem;
}
.heading {
  text-align: center;
  font-size: 3.5rem;
}
.container {
  width: auto;
  max-width: auto;
  padding: 40px;
  margin: 0 30px;
  background: var(--cont);
  position: relative;
}
.details {
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.order2 h1 {
  text-transform: uppercase;
}
.order2 span {
  color: var(--txt);
}
.date p {
  font-size: 1.1rem;
}
.food-box {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

/* End order */
.track {
  margin: 4em 0 8em;
}
#progress {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;
  text-align: center;
}
#progess li {
  width: 20%;
  position: fixed;
}
#progrees li::before {
  content: "\2713";
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50px;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  background: var(--line);
  color: #fff;
  border-radius: 50%;
  z-index: 11111;
}
#progress li:last-child::before {
  content: "\2713";
  font-weight: bold;
  background: var(--light);
}
#progress::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 55%;
  margin-left: 35px;
  height: 10px;
  background: var(--line);
  z-index: 111;
}
#progress::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 80%;
  height: 10px;
  background: #c5cae9;
}
.lists {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
}
.list {
  display: flex;
  gap: 1em;
  flex: 1 1 50px;
}
.list p {
  font-size: 1.1rem;
}
.list img {
  width: 50px;
}

/* container top bar */
.container-topbar {
  padding-top: 20px;
}


